In [1]:
# import the dependencies
import pandas as pd
import requests
import gmaps
from config import g_key

In [2]:
# store the CSV you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2021-03-24 18:24:34,72.7868,-56.1549,-13.34,86,100,3.83
1,1,Hamilton,US,2021-03-24 18:22:36,39.1834,-84.5333,72.00,49,75,14.97
2,2,Rundu,NaN,2021-03-24 18:24:34,-17.9333,19.7667,74.25,67,99,4.45
3,3,Georgetown,MY,2021-03-24 18:24:35,5.4112,100.3354,80.01,94,20,1.14
4,4,Port Elizabeth,ZA,2021-03-24 18:24:35,-33.9180,25.5701,69.80,83,20,11.50

In [3]:
# get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your api key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity =300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heat map of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# wind speed heat map
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?" ))
max_temp = float(input("What is the maximum temperature you would like for your trip?" ))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [12]:
# filter the dataset to find the citites that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Georgetown,MY,2021-03-24 18:24:35,5.4112,100.3354,80.01,94,20,1.14
5,5,Cayenne,GF,2021-03-24 18:24:36,4.9333,-52.3333,87.80,55,20,16.11
12,12,Santa Rosa,PH,2021-03-24 18:24:38,14.3122,121.1114,80.60,74,20,2.30
13,13,Morant Bay,JM,2021-03-24 18:24:39,17.8815,-76.4093,86.00,62,20,20.71
16,16,Olinda,BR,2021-03-24 18:24:40,-8.0089,-34.8553,80.60,69,40,9.22
18,18,Chuy,UY,2021-03-24 18:24:41,-33.6971,-53.4616,76.78,53,0,9.31
19,19,Bambous Virieux,MU,2021-03-24 18:24:41,-20.3428,57.7575,78.01,94,20,3.44
23,23,Kannur,IN,2021-03-24 18:24:43,11.8675,75.3576,81.32,80,39,6.49
25,25,Umm Lajj,SA,2021-03-24 18:24:43,25.0213,37.2685,75.78,45,1,11.48
26,26,Vila Velha,BR,2021-03-24 18:24:44,-20.3297,-40.2925,88.00,66,0,12.66

In [13]:
preferred_cities_df.count()

City_ID       223
City          223
Country       222
Date          223
Lat           223
Lng           223
Max Temp      223
Humidity      223
Cloudiness    223
Wind Speed    223
dtype: int64

In [14]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3        Georgetown      MY     80.01   5.4112  100.3354
5           Cayenne      GF     87.80   4.9333  -52.3333
12       Santa Rosa      PH     80.60  14.3122  121.1114
13       Morant Bay      JM     86.00  17.8815  -76.4093
16           Olinda      BR     80.60  -8.0089  -34.8553
18             Chuy      UY     76.78 -33.6971  -53.4616
19  Bambous Virieux      MU     78.01 -20.3428   57.7575
23           Kannur      IN     81.32  11.8675   75.3576
25         Umm Lajj      SA     75.78  25.0213   37.2685
26       Vila Velha      BR     88.00 -20.3297  -40.2925

In [15]:
# set parameters to search for a hotel
params = {
    "radius":5000,
    "type":"lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
5,Cayenne,GF,87.80,4.9333,-52.3333,Hôtel Le Dronmi
12,Santa Rosa,PH,80.60,14.3122,121.1114,Erlyn’s Sta Rosa City Home
13,Morant Bay,JM,86.00,17.8815,-76.4093,Whispering Bamboo Cove Resort
16,Olinda,BR,80.60,-8.0089,-34.8553,Hotel Albergue de Olinda
18,Chuy,UY,76.78,-33.6971,-53.4616,Nuevo Hotel Plaza
19,Bambous Virieux,MU,78.01,-20.3428,57.7575,Casa Tia Villa
23,Kannur,IN,81.32,11.8675,75.3576,Asokam Beach Resort and Ayurveda Chikitsa Kendram
25,Umm Lajj,SA,75.78,25.0213,37.2685,Moon light Furnished Units
26,Vila Velha,BR,88.00,-20.3297,-40.2925,Quality Suites Vila Velha

In [ ]:
# add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.03,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# call the figure to plot the data
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig